@model GuardaPelaCultura.Models.ReservasRestaurante

@{
    ViewData["Title"] = "Delete";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h2 class="text-center mt-5 mb-4">Cancelar uma Reserva Restaurante</h2>
<div>
    <div class="card-deck justify-content-center">
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Cliente.NomeCliente)</h5>
                    <p class="card-text"><strong>Restaurante: </strong>@Html.DisplayFor(model => model.Restaurantes.NomeRestaurante)</p>
                    <p class="mt-2"><strong>Mesa: </strong>@Html.DisplayFor(model => model.Mesa.MesasRestaurante)</p>
                    <p class="mt-2"><strong>Numero de Pessoas: </strong>@Html.DisplayFor(model => model.NumeroPessoas)</p>
                    <p class="mt-2"><strong>Data Reserva: </strong>@Html.DisplayFor(model => model.DataReserva)</p>
                    <p class="mt-2"><strong>Observações: </strong>@Html.DisplayFor(model => model.ObservacaoReserva)</p>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Delete" class="align-content-center text-center">
        <input type="hidden" asp-for="ReservasRestauranteId" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        @if (User.IsInRole("Cliente"))
        {
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
        }
        else
        {
            <a asp-controller="ReservasRestaurantes" asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
        }
    </form>
</div>
