@model GuardaPelaCultura.Models.ReservasRestaurante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservasRestaurante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurantes.EmailRestaurante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefoneReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefoneReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoReserva)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservasRestauranteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
