@model GuardaPelaCultura.Models.ReservasRestaurante

@{
    ViewData["Title"] = "Details";
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h2 class="text-center mt-5 mb-4">Detalhes das Rerservas Restaurante</h2>

<div>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center">Nome</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Cliente.NomeCliente)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Restaurante</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Restaurantes.NomeRestaurante)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Mesa</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Mesa.MesasRestaurante)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Numeros de Pessoas</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.NumeroPessoas)
        </div>
        @*<div class="col-sm-4">
            <p class="text-center">Estado da Reserva</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.EstadoReserva)
        </div>*@
        <div class="col-sm-4">
            <p class="text-center">Data da Rerserva</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.DataReserva)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Observações da Reserva</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.ObservacaoReserva)
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ReservasRestauranteId">Editar</a>
    <a asp-action="Delete" type="submit" value="Apagar" class="btn btn-danger" asp-route-id="@Model.ReservasRestauranteId">Eliminar</a>
    @if (User.IsInRole("Cliente"))
    {
        <a asp-controller="ReservasRestaurantes" asp-action="Index" class="btn btn-outline-secondary">Minhas Reservas</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Concluir</a>
    }
    else
    {
        <a asp-controller="ReservasRestaurantes" asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
    }
</div>