@model ReservaRestauranteListViewModel

@{
    ViewData["Title"] = "Lista de Reservas";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<p class="mt-4 text-center mb-4">
    <a asp-action="Create">Criar nova Reserva</a>
</p>
<body>
    @if (!User.IsInRole("Cliente"))
    {
        <div class="card-body">
            <form asp-action="Index" method="get">
                <input name="name" type="search" class="form-control" value="@Model.SearchName" placeholder="Nome Da Reserva" />
                <input name="page" type="hidden" value="1" />
            </form>
        </div>
    }
    <div class="card-deck">
        <div class="row justify-content-center">
            @foreach (var item in Model.ReservaRestaurantes)
            {
                <div>
                    <div class="card mb-3 ">
                        <div class="card-body text-center">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Cliente.NomeCliente)</h5>
                            <p class="card-text"><strong>Restaurante: </strong>@Html.DisplayFor(modelItem => item.Restaurantes.NomeRestaurante)</p>
                            <p class="mt-2"><strong>Mesa: </strong>@Html.DisplayFor(modelItem => item.Mesa.MesasRestaurante)</p>
                            <p class="mt-2"><strong>Numero de Pessoas: </strong>@Html.DisplayFor(modelItem => item.NumeroPessoas)</p>
                            <p class="mt-2"><strong>Data Reserva: </strong>@Html.DisplayFor(modelItem => item.DataReserva)</p>
                            <p class="mt-2"><strong>Observações: </strong>@Html.DisplayFor(modelItem => item.ObservacaoReserva)</p>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ReservasRestauranteId">Editar</a>
                            <a asp-action="Details" class="btn btn-success" asp-route-id="@item.ReservasRestauranteId">Detalhes</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ReservasRestauranteId">Eliminar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (!User.IsInRole("Cliente"))
    {
        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-name="@Model.SearchName">First</a></li>

                @{
                    int initalPage = Model.Paginacao.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                    if (initalPage < 1) initalPage = 1;

                    int finalPage = Model.Paginacao.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                    if (finalPage > Model.Paginacao.TotalPages) finalPage = Model.Paginacao.TotalPages;
                }

                @for (int p = initalPage; p <= finalPage; p++)
                {
                    if (p == Model.Paginacao.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchName">@p</a></li>
                    }
                }

                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Paginacao.TotalPages" asp-route-name="@Model.SearchName">Last</a></li>
            </ul>
        </nav>
    }
</body>

