@model GuardaPelaCultura.Models.Restaurantes

@{
    ViewData["Title"] = "Delete";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h2 class="text-center mt-5 mb-4">Eliminar Restaurante</h2>
<div>
    <div class="card-deck justify-content-center">
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">@Html.DisplayFor(model => model.NomeRestaurante)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.TextoDescritivoRestaurante)</p>
                    <p class="mt-2"><strong>Telefone: </strong>@Html.DisplayFor(model => model.NumeroTelefone)</p>
                    <p class="mt-2"><strong>Email: </strong>@Html.DisplayFor(model => model.EmailRestaurante)</p>
                    <p class="mt-2"><strong>Localização: </strong>@Html.DisplayFor(model => model.LocalizacaoRestaurante)</p>
                    <p class="mt-2"><strong>Hora de Abrir: </strong>@Html.DisplayFor(model => Model.HoraAbertura)</p>
                    <p class="mt-2"><strong>Hora de Fechar: </strong>@Html.DisplayFor(model => Model.HoraFecho)</p>
                    <p class="mt-2"><strong>1ª Imagem: </strong>@Html.DisplayFor(model => Model.Imagem)</p>
                    <p class="mt-2"><strong>2ª Imagem: </strong>@Html.DisplayFor(model => Model.Imagem1)</p>
                    <p class="mt-2"><strong>3ª Imagem: </strong>@Html.DisplayFor(model => Model.Imagem2)</p>
                    <p class="mt-2 mb-2"><strong>4ª Imagem: </strong>@Html.DisplayFor(model => Model.Imagem3)</p>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Delete" class="align-content-center text-center">
        <input type="hidden" asp-for="RestaurantesId" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
    </form>
</div>
