@model GuardaPelaCultura.Models.Restaurantes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurantes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeRestaurante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeRestaurante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailRestaurante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailRestaurante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalizacaoRestaurante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalizacaoRestaurante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextoDescritivoRestaurante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextoDescritivoRestaurante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraAbertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFecho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFecho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RestaurantesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
