@model GuardaPelaCultura.Models.Restaurantes

@{
    ViewData["Title"] = "Details";
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h2 class="text-center mt-5 mb-4">Detalhos Restaurante</h2>
<div>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center">Nome</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.NomeRestaurante)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Telemóvel</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.NumeroTelefone)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Email</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.EmailRestaurante)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Morada</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.LocalizacaoRestaurante)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Descrição</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.TextoDescritivoRestaurante)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Hora de Abrir</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.HoraAbertura)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Hora de Fechar</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.HoraFecho)
        </div>
        <div class="col-sm-4">
            <p class="text-center">1ª Imagem</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Imagem)
        </div>
        <div class="col-sm-4">
            <p class="text-center">2ª Imagem</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Imagem1)
        </div>
        <div class="col-sm-4">
            <p class="text-center">3ª Imagem</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Imagem2)
        </div>
        <div class="col-sm-4">
            <p class="text-center">4ª Imagem</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Imagem3)
        </div>

    </div>
</div>
<div class="text-center">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.RestaurantesId">Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
</div>
