@model IEnumerable<GuardaPelaCultura.Models.Restaurantes>

@{
    ViewData["Title"] = "Index";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<p class="mt-4 text-center mb-4">
    <a asp-action="Create">Criar Novo Restaurante</a>
</p>
<body>
    <div class="card-deck">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeRestaurante)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.TextoDescritivoRestaurante)</p>
                            <p class="mt-2"><strong>Telefone: </strong>@Html.DisplayFor(modelItem => item.NumeroTelefone)</p>
                            <p class="mt-2"><strong>Email: </strong>@Html.DisplayFor(modelItem => item.EmailRestaurante)</p>
                            <p class="mt-2 mb-2"><strong>Localização: </strong>@Html.DisplayFor(modelItem => item.LocalizacaoRestaurante)</p>
                            <p class="mt-2"><strong>Hora de Abrir: </strong>@Html.DisplayFor(model => item.HoraAbertura)</p>
                            <p class="mt-2"><strong>Hora de Fechar: </strong>@Html.DisplayFor(model => item.HoraFecho)</p>
                            <p class="mt-2"><strong>Imagens do Restaurante</strong></p>
                            <div class="row mt-3 mb-3">
                                <div class="col-sm-3">
                                    @{
                                        var base64 = Convert.ToBase64String(item.Imagem);
                                        var imgsrc = string.Format("data:image/gif; base64,{0}", base64);
                                    }
                                    <img src='@imgsrc' width="80%" />
                                </div>
                                <div class="col-sm-3">
                                    @{
                                        var base65 = Convert.ToBase64String(item.Imagem1);
                                        var imgsrc1 = string.Format("data:image/gif; base64,{0}", base65);
                                    }
                                    <img src='@imgsrc1' width="80%" />
                                </div>
                                <div class="col-sm-3">
                                    @{
                                        var base66 = Convert.ToBase64String(item.Imagem2);
                                        var imgsrc2 = string.Format("data:image/gif; base64,{0}", base66);
                                    }
                                    <img src='@imgsrc2' width="80%" />
                                </div>
                                <div class="col-sm-3">
                                    @{
                                        var base67 = Convert.ToBase64String(item.Imagem3);
                                        var imgsrc3 = string.Format("data:image/gif; base64,{0}", base67);
                                    }
                                    <img src='@imgsrc3' width="80%" />
                                </div>

                            </div>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.RestaurantesId">Editar</a>
                            <a asp-action="Details" class="btn btn-success" asp-route-id="@item.RestaurantesId">Detalhes</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.RestaurantesId">Eliminar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
