@model IEnumerable<GuardaPelaCultura.Models.Restaurantes>

@{
    ViewData["Title"] = "Index";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<p class="mt-4 text-center mb-4">
    <a asp-action="Create">Create New</a>
</p>
    <body>
        @foreach (var item in Model)
        {
        <div class="card mb-3" style="width: 50%">
            <div class="card-body text-center">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeRestaurante)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.TextoDescritivoRestaurante)</p>
                <h6>Telefone: @Html.DisplayFor(modelItem => item.NumeroTelefone)</h6>
                <h6>Email: @Html.DisplayFor(modelItem => item.EmailRestaurante)</h6>
                <h6>Horário: @Html.DisplayFor(modelItem => item.HorarioRestaurante)</h6>
                <h6>Localização: @Html.DisplayFor(modelItem => item.LocalizacaoRestaurante)</h6>
                <a asp-action="Edit" asp-route-id="@item.RestaurantesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RestaurantesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestaurantesId">Delete</a>
            </div>
        </div>
        }
    </body>