@model GuardaPelaCultura.Models.Ementa

@{
    ViewData["Title"] = "Delete";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<h2 class="text-center mt-5 mb-4">Delete Ementa</h2>

<div>
    <div class="card-deck justify-content-center">
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">@Html.DisplayFor(model => model.NomeEmenta)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.DescricaoEmenta)</p>
                    <p class="mt-2"><strong>Quatidade da Ementa: </strong>@Html.DisplayFor(model => model.QuantidadeEmenta)</p>
                    <p class="mt-2"><strong>Preço: </strong>@Html.DisplayFor(model => model.PrecoEmenta)</p>
                    <p class="mt-2"><strong>Restaurante: </strong>@Html.DisplayFor(model => model.Restaurantes.RestaurantesId)</p>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Delete" class="align-content-center text-center">
        <input type="hidden" asp-for="EmentaId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
    </form>
</div>
