@model GuardaPelaCultura.Models.Ementa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ementa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEmenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEmenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoEmenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoEmenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoEmenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoEmenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeEmenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeEmenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurantes.EmailRestaurante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmentaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
