@model GuardaPelaCultura.Models.Ementa

@{
    ViewData["Title"] = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h2 class="text-center mt-5 mb-4">Details Ementa</h2>

<div>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center">Nome</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.NomeEmenta)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Descrição</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.DescricaoEmenta)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Preço</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.PrecoEmenta)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Quantidade da Ementa</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.QuantidadeEmenta)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Nome do Restaurante</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Restaurantes.EmailRestaurante)
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.EmentaId">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
</div>
