@model IEnumerable<GuardaPelaCultura.Models.Ementa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEmenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoEmenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoEmenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEmenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurantes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoEmenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoEmenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEmenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurantes.EmailRestaurante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmentaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmentaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmentaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
