@model EmentaListViewModel

@{
    ViewData["Title"] = "Index";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h2 class="text-center mt-5 mb-4">Index</h2>

<body>
    <div class="card-deck">
        <div class="row">
            @foreach (var item in Model.Ementas)
            {
            <div class="col-sm-4">
                <div class="card mb-3 col-md-11">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeEmenta)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.DescricaoEmenta)</p>
                        <p class="mt-2"><strong>Preço: </strong>@Html.DisplayFor(modelItem => item.PrecoEmenta) €</p>
                        <p class="mt-2"><strong>Quantidade: </strong>@Html.DisplayFor(modelItem => item.QuantidadeEmenta)</p>
                        <p class="mt-2"><strong>Restaurante: </strong>@Html.DisplayFor(modelItem => item.RestaurantesId)</p>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.EmentaId">Editar</a>
                        <a asp-action="Details" class="btn btn-success" asp-route-id="@item.EmentaId">Detalhes</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.EmentaId">Eliminar</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <nav class="mt-4">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-name="@Model.SearchName">First</a></li>

            @{
                int initalPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (initalPage < 1) initalPage = 1;

                int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
            }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.Pagination.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchName">@p</a></li>
                }
            }

            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages" asp-route-name="@Model.SearchName">Last</a></li> 
            <li style="margin-left:70%" class="btn btn-outline-secondary"><a asp-action="Create">Create New</a></li>
        </ul>
    </nav>
</body>