
@model ListaPaginaRestaurantes

@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="css/templatemo-style.css" rel="stylesheet" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/css/outroscss.css" rel="stylesheet" />

</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>
    <main>
        <header class="row tm-welcome-section">
            <h2 class="col-12 text-center tm-section-title">Bem Vindo! <br> Guarda Pela Cultura 27</h2>
            <p class="col-12 text-center">
                Guarda Pela Cultura é um projeto que surge pela candidatura da Guarda a capital europeia da cultura em 2027.<br>Pretendemos demonstrar a grande diversidade de cultura existente no nosso distrito.
            </p>
        </header>

        <div class="tm-paging-links">
            <nav>
                <ul>
                    <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Restaurantes</a></li>
                    <li class="tm-paging-item"><a href="#" class="tm-paging-link">Turismo</a></li>
                    <li class="tm-paging-item"><a href="#" class="tm-paging-link">Hotéis</a></li>
                    <li class="tm-paging-item"><a href="#" class="tm-paging-link">Museus</a></li>
                </ul>
            </nav>
        </div>
        <nav class="mt-4">
            <ul class="pagination  justify-content-center">
                <li class="page-item"><a class="btn-success page-link" asp-action="Index" asp-route-page="1" asp-route-name="@Model.SearchName">Primeira</a></li>

                @{
                    int initalPage = Model.Paginacao.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                    if (initalPage < 1) initalPage = 1;

                    int finalPage = Model.Paginacao.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                    if (finalPage > Model.Paginacao.TotalPages) finalPage = Model.Paginacao.TotalPages;
                }

                @for (int p = initalPage; p <= finalPage; p++)
                {
                    if (p == Model.Paginacao.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link btn-success" href="#">@p</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link btn-success" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchName">@p</a></li>
                    }
                }

                <li class="page-item"><a class="page-link btn-success" asp-action="Index" asp-route-page="@Model.Paginacao.TotalPages" asp-route-name="@Model.SearchName">Última</a></li>
            </ul>
        </nav>
        <!-- Gallery -->
        <div class="row tm-gallery mt-4">
            <!-- gallery page 1 -->
            <div id="tm-gallery-page-restaurantes" class="tm-gallery-page">
                @{
                    int contaRestaurante = 0;
                }
                @foreach (var item in Model.ListaRestaurantes)
                {
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            @{
                                contaRestaurante++;
                                var base64 = Convert.ToBase64String(item.Imagem);
                                var imgsrc = string.Format("data:image/gif; base64,{0}", base64);
                            }
                            <img src='@imgsrc' alt="Image" style="width:100%" class="img-fluid tm-gallery-img  hover-shadow cursor" onclick="document.getElementById('Modal+@item.RestaurantesId').style.display='block';RestauranteAtual(@contaRestaurante)" />

                            <figcaption class="mb-4">
                                <h4 class="tm-gallery-title">@Html.DisplayFor(model => item.NomeRestaurante)</h4>
                                <p class="tm-gallery-description">@Html.DisplayFor(model => item.TextoDescritivoRestaurante)</p>

                                <div id="Modal+@item.RestaurantesId" class="modal">
                                    <span class="close cursor" onclick="document.getElementById('Modal+@item.RestaurantesId').style.display='none'">&times;</span>
                                    <div class="modal-content">
                                        <div class="mySlides">
                                            <div class="numbertext">1 / 4</div>
                                            <img src='@imgsrc' style="width:100%">
                                        </div>

                                        <div class="mySlides">
                                            <div class="numbertext">2 / 4</div>
                                            @{
                                                var base65 = Convert.ToBase64String(item.Imagem1);
                                                var imgsrc1 = string.Format("data:image/gif; base64,{0}", base65);
                                            }
                                            <img src='@imgsrc1' style="width:100%">
                                        </div>

                                        <div class="mySlides">
                                            <div class="numbertext">3 / 4</div>
                                            @{
                                                var base66 = Convert.ToBase64String(item.Imagem2);
                                                var imgsrc2 = string.Format("data:image/gif; base64,{0}", base66);
                                            }
                                            <img src='@imgsrc2' style="width:100%">
                                        </div>

                                        <div class="mySlides">
                                            <div class="numbertext">4 / 4</div>
                                            @{
                                                var base67 = Convert.ToBase64String(item.Imagem3);
                                                var imgsrc3 = string.Format("data:image/gif; base64,{0}", base67);
                                            }
                                            <img src='@imgsrc3' style="width:100%">
                                        </div>
                                        <a class="prev" onclick="plusSlides(-1,@contaRestaurante)">&#10094;</a>
                                        <a class="next" onclick="plusSlides(1,@contaRestaurante)">&#10095;</a>

                                        <div class="row mt-5">
                                            <div class="col-12 text-center">
                                                <h1 class="text-center mb-3">
                                                    @Html.DisplayFor(model => item.NomeRestaurante)
                                                </h1>
                                            </div>
                                            <div class="col-sm-5 ml-5 mr-3">
                                                <p>@Html.DisplayFor(model => item.TextoDescritivoRestaurante)</p>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <h5>Horário:</h5>
                                                <p>@Html.DisplayFor(model => item.HoraAbertura) Horas - @Html.DisplayFor(model => item.HoraFecho) Horas</p>

                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-sm-5 ml-5">
                                                <h5 class="text-center">Contactos</h5>
                                                <p>Email: @Html.DisplayFor(model => item.EmailRestaurante)</p>
                                                <p>Telefone: @Html.DisplayFor(model => item.NumeroTelefone)</p>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <h5>Onde nos Encontramos:</h5>
                                                <p>@Html.DisplayFor(model => item.LocalizacaoRestaurante)</p>
                                            </div>
                                        </div>
                                        <div class="row mt-5 mb-4">
                                            <div class="col-sm-5 ml-5 text-center">
                                                <a asp-controller="ReservasRestaurantes" asp-action="Create" class="btn btn-outline-danger">Reservar Mesa</a>
                                                @{
                                                    if (User.IsInRole("Cliente"))
                                                    {
                                                        <a asp-controller="ReservasRestaurantes" asp-action="Index" class="btn btn-outline-danger">Minhas Reservas</a>
                                                    }
                                                    else if (User.IsInRole("GestorGPC") || User.IsInRole("GestorRestaurante"))
                                                    {
                                                        <a asp-controller="ReservasRestaurantes" asp-action="Index" class="ml-2 btn btn-outline-danger">Todas Reservas</a>
                                                    }
                                                }
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <a asp-controller="ReservasTakeAways" asp-action="Create" class="btn btn-outline-danger"> Reserva Take Away</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                }
            </div> <!-- gallery page 1 -->
            <!-- gallery page 2 -->
            <div id="tm-gallery-page-turismo" class="tm-gallery-page hidden">
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/serraestrela.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption class="mb-4">
                            <h4 class="tm-gallery-title">Serra da Estrela</h4>
                            <p class="tm-gallery-description">Este parque natural é excelente para caminhadas, passeios a cavalo ou mountain bike. Possui cerca de 375 km de . . .</p>
                            <p><a class="text-info font-italic" href="https://www.visitportugal.com/pt-pt/content/serra-da-estrela">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/Se-Catedral-da-Guarda.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Sé da Guarda</h4>
                            <p class="tm-gallery-description">Embora a Guarda seja sede de bispado desde a sua fundação, quando D. Sancho I pediu ao papa Inocêncio III a transferência . . .</p>
                            <p><a class="text-info font-italic" href="https://www.visitportugal.com/pt-pt/node/136438">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/cascatadoPoçodaBroca.png" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Cascata do Poço da Broca</h4>
                            <p class="tm-gallery-description">A Cascata do Poço da Broca é uma queda de água destacada pela sua beleza inigualável. Localiza-se na ribeira de Alvôco mais . . .</p>
                            <p><a class="text-info font-italic" href="https://www.tripadvisor.pt/Attraction_Review-g652094-d10435191-Reviews-Cascata_do_Poco_da_Broca-Seia_Guarda_District_Central_Portugal.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/muralhadeCasteloRodrigo.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Muralha de Castelo Rodrigo</h4>
                            <p class="tm-gallery-description">Local bem cuidado com uma vista fantástica e aprazível para visitar e sentir a história local.</p>
                            <p><a class="text-info font-italic" href="https://www.tripadvisor.com/Attraction_Review-g652090-d8601147-Reviews-Muralhas_do_Castelo_Rodrigo-Figueira_de_Castelo_Rodrigo_Guarda_District_Central_P.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/ForteDeAlmeida.gif" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Vila Forte de Almeida</h4>
                            <p class="tm-gallery-description">Almeida é uma vila fortificada e um município da sub-região da Beira Interior Norte e do Distrito da Guarda. A fortaleza em torno . . .</p>
                            <p><a class="text-info font-italic" href="http://fortalezas.org/?ct=fortaleza&id_fortaleza=687">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/PoçoDoInferno.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Poço do Inferno</h4>
                            <p class="tm-gallery-description">Ao percorrer a Rota do Poço do Inferno verifica-se um dualismo de paisagem, natural e humanizada, marcada pelo diferente tipo . . .</p>
                            <p><a class="text-info font-italic" href="https://www.tripadvisor.com/Attraction_Review-g666185-d9978901-Reviews-Poco_do_Inferno-Manteigas_Guarda_District_Central_Portugal.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/EstacaoDeVilarFormoso.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Estação de Vilar Formoso</h4>
                            <p class="tm-gallery-description">A Estação Ferroviária de Vilar Formoso é uma interface da Linha da Beira Alta, que serve a Freguesia de Vilar Formoso . . .</p>
                            <p><a class="text-info font-italic" href="https://www.tripadvisor.pt/Attraction_Review-g3733424-d10635026-Reviews-Vilar_Formoso_Estacoes-Vilar_Formoso_Guarda_District_Central_Portugal.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/praias-fluviais-loriga.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Praias Fluviais de Loriga</h4>
                            <p class="tm-gallery-description">Esta praia situa-se no interior do Parque Natural da Serra da Estrela, no vale glaciar de Loriga, cujos vestígios ainda são visíveis.</p>
                            <p><a class="text-info font-italic" href="https://www.tripadvisor.com/Attraction_Review-g3411631-d7806720-Reviews-Praia_Fluvial_de_Loriga-Loriga_Guarda_District_Central_Portugal.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
            </div> <!-- gallery page 2 -->
            <!-- gallery page 3 -->
            <div id="tm-gallery-page-hotéis" class="tm-gallery-page hidden">
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/HotelVanguarda.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption class="mb-4">
                            <h4 class="tm-gallery-title">Holtel Vanguarda</h4>
                            <p class="tm-gallery-description">Este hotel no centro da Guarda está localizado no ponto mais alto de Portugal, a 1.000 m de altitude. Tem um restaurante com vista para a Serra da Estrela.</p>
                            <p><a class="text-info font-italic" href="https://www.hotelvanguarda.pt">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/HotelSantos.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Hotel Santos</h4>
                            <p class="tm-gallery-description">Localizado no centro histórico da Guarda, este hotel fica a 150 m da catedral da cidade. As áreas verdes do Parque Natural da Serra da Estrela estão a 10 minutos . . .</p>
                            <p><a class="text-info font-italic" href="http://www.hotelsantos.pt/en/index.htm">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/HotelLusitano.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Hotel Lusitano</h4>
                            <p class="tm-gallery-description">Localizado a cerca de 250 m da Estação de Comboios de Vilar Formoso, o Hotel Lusitano oferece Wi-Fi gratuito, recepção 24 horas e quartos com TV via satélite . . .</p>
                            <p><a class="text-info font-italic" href="https://www.booking.com/hotel/pt/lusitano.pt-pt.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/hotel-fortaleza-de-almeida.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Hotel Fortaleza</h4>
                            <p class="tm-gallery-description"> O Hotel Fortaleza de Almeida tem como meta proporcionar a você uma visita relaxante e agradável, motivo pelo qual vários hóspedes retornam todos os anos.</p>
                            <p><a class="text-info font-italic" href="https://www.tripadvisor.pt/Hotel_Review-g663589-d273086-Reviews-Hotel_Fortaleza_de_Almeida-Almeida_Guarda_District_Central_Portugal.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/HotelCamelo.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Hotel Camelo</h4>
                            <p class="tm-gallery-description">O Hotel Eurosol Seia Camelo ocupa uma localização privilegiada no centro da cidade de Seia. Apresenta uma piscina exterior com espreguiçadeiras.</p>
                            <p><a class="text-info font-italic" href="https://www.eurosol.pt/pt/hotel/eurosol-seia-camelo-12">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/HospedariaDoConventoD'Aguiar.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Hospedeira do Convento D'Aguiar</h4>
                            <p class="tm-gallery-description">Este alojamento situa-se no Mosteiro de Santa Maria de Aguiar, que remonta ao século XI. Dispõe de quartos decorados . . .</p>
                            <p><a class="text-info font-italic" href="https://www.booking.com/hotel/pt/hospedaria-do-convento.pt-pt.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/HospedariaRobalo.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Hospedaria Robalo</h4>
                            <p class="tm-gallery-description">A Hospedaria Robalo está localizada no centro da cidade de Sabugal e apenas a 5 km da Reserva Natural da Serra da Malcata . . .</p>
                            <p><a class="text-info font-italic" href="https://www.cm-sabugal.pt/concelho-do-sabugal/turismo-cultura-lazer/onde-dormir/hospedaria-robalo/">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/VilaGaleSerraDaEstrela.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Hotel Vila Galé</h4>
                            <p class="tm-gallery-description">Situada a 2,3 km das Termas de Manteigas, a Vila Gale Serra da Estrela, em Manteigas, tem várias comodidades, incluindo um restaurante, um centro de . . .</p>
                            <p><a class="text-info font-italic" href="https://www.vilagale.com">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
            </div><!-- gallery page 3 -->
            <!-- gallery page 4 -->
            <div id="tm-gallery-page-museus" class="tm-gallery-page hidden">
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="~/img/MuseudoCoa.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption class="mb-4">
                            <h4 class="tm-gallery-title">Museu da Fundação do Côa</h4>
                            <p class="tm-gallery-description"> Excelente arquitetura, perfeitamente integrada na paisagem das encostas do vale do Douro, com excelentes meios . . . </p>
                            <p><a class="text-info font-italic" href="https://arte-coa.pt/en/">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/MuseudoBrinquedo.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Museu do Brinquedo</h4>
                            <p class="tm-gallery-description"> O Museu do Brinquedo de Seia apresenta uma colectânea de cerca de 8000 brinquedos de Portugal e do mundo, do passado ao presente e assim, serve . . .</p>
                            <p><a class="text-info font-italic" href="https://www.cm-seia.pt/index.php?option=com_content&view=article&id=101&Itemid=420">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/Museu-Natural-da-Electricidade-Serra-da-Estrela.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Museu Natural da Eletricidade</h4>
                            <p class="tm-gallery-description"> Trata-se da Central da Senhora do Desterro, uma das mais antigas centrais hidroeléctricas de Portugal, fruto da iniciativa . . . </p>
                            <p><a class="text-info font-italic" href="https://museusdaenergia.org/patrimonios/8-museu-natural-da-electricidade-de-seia">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/museuhisticocultural.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Museu Histórico-Militar</h4>
                            <p class="tm-gallery-description">A sua funcionalidade esteve ligada a dois vectores essenciais, a paz e a guerra. Serviram então para abrigar a população da Vila e como armazém de víveres.</p>
                            <p><a class="text-info font-italic" href="https://www.cm-almeida.pt/espacos-municipais/1678-2/casamatas/">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/museudopao.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Museu do Pão</h4>
                            <p class="tm-gallery-description">Situado em Seia, em plena Serra da Estrela, o Museu do Pão é um complexo museológico onde é possível fazer uma pequena . . .</p>
                            <p><a class="text-info font-italic" href="https://www.museudopao.pt">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/museuminiaturaautomovel.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Museu Miniatura Automóvel</h4>
                            <p class="tm-gallery-description">É um verdadeiro mundo por descobrir que conta com cerca de 4 mil miniaturas em exposição . . .</p>
                            <p><a class="text-info font-italic" href="https://www.tripadvisor.com/Attraction_Review-g652091-d11696700-Reviews-Museu_da_Miniatura_Automovel-Gouveia_Guarda_District_Central_Portugal.html">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/fronteiradapaz.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Fronteira da Paz</h4>
                            <p class="tm-gallery-description">O espaço expositivo transmite, “quase” fisicamente, a experiência destes refugiados europeus que, durante a IIª Guerra Mundial . . .</p>
                            <p><a class="text-info font-italic" href="https://www.cm-almeida.pt/espacos-municipais/1678-2/memorial/">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/museusabugal.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Museu do Sabugal</h4>
                            <p class="tm-gallery-description">Com esta exposição pretende-se homenagear a vida dura dos nossos antepassados que trabalhavam desde que o sol . . .</p>
                            <p><a class="text-info font-italic" href="http://www.museusabugal.net">Saiba Mais...</a></p>
                        </figcaption>
                    </figure>
                </article>
            </div> <!-- gallery page 4 -->
        </div>
        <div class="tm-section tm-container-inner">
            <div class="row">
                <div class="col-md-6">
                    <figure class="tm-description-figure">
                        <img src="img/CandidaturaGuarda.jpg" alt="Image" class="img-fluid" />
                    </figure>
                </div>
                <div class="col-md-6 mb-auto">
                    <div class="tm-description-box">
                        <h4 class="tm-gallery-title">Capital Europeia da Cultura</h4>
                        <p class="tm-mb-45">A Candidatura da Guarda a Capital Europeia da Cultura 2027 é mais do que uma aposta num título ou a preparação de um ano de eventos. É um projeto regional, participado por 17 Municípios, que pretende desenvolver a Beira Interior a partir da sua dimensão cultural. </p>
                        <a asp-action="About" class="tm-btn tm-btn-default tm-right">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
        @if (User.IsInRole("GestorRestaurante"))
        {
            <div class="text-center mt-4">
                <a asp-controller="Restaurantes" asp-action="Index" class="btn btn-outline-success mr-2">Restaurantes</a>
                <a asp-controller="Ementas" asp-action="Index" class="btn btn-outline-success">Ementas</a>
            </div>
        }
        else if (User.IsInRole("GestorGPC"))
        {
            <div class="text-center mt-4">
                <a asp-controller="Restaurantes" asp-action="Index" class="btn btn-outline-success mr-2">Restaurantes</a>
                <a asp-controller="Ementas" asp-action="Index" class="btn btn-outline-success mr-2">Ementas</a>
                <a asp-controller="Clientes" asp-action="Index" class="btn btn-outline-success mr-2">Clientes</a>
            </div>
        }
    </main>
    <script>
        $(document).ready(function () {
            // Handle click on paging links
            $('.tm-paging-link').click(function (e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });

        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        var indexrestaurantes = 1;
        var slideIndex = 1;

        function RestauranteAtual(m) {
            showSlides(slideIndex = m  * 4 - 3, indexrestaurantes = m);
        }

        function plusSlides(n, m) {
            showSlides(slideIndex += n, m);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n, m) {
            var min = m * 4 - 3;
            var max = m * 4;
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
  
            if (n > max) { slideIndex = min }
            if (n < min) { slideIndex = max }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>
</body>
</html>