@model GuardaPelaCultura.Models.Mesa

@{
    ViewData["Title"] = "Delete";
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<body>
    <h2 class="text-center mt-5 mb-4">Eliminar Mesa "@Html.DisplayFor(model => model.MesasRestaurante)" do Restaurante "@Html.DisplayFor(model => model.Restaurantes.NomeRestaurante)"</h2>
    <div class="card-deck justify-content-center">
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Restaurantes.NomeRestaurante)</h5>
                    <p class="mt-2"><strong>Número da Mesa: </strong>@Html.DisplayFor(model => model.MesasRestaurante)</p>
                    <p class="mt-2"><strong>Número de Lugares: </strong>@Html.DisplayFor(model => model.LugaresRestaurante)</p>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Delete" class="align-content-center text-center">
        <input type="hidden" asp-for="MesaId" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
    </form>
</body>