@model GuardaPelaCultura.Models.Mesa

@{
    ViewData["Title"] = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h2 class="text-center mt-5 mb-4">Detalhos da Mesa "@Html.DisplayFor(model => model.MesasRestaurante)" do Restaurante "@Html.DisplayFor(model => model.Restaurantes.NomeRestaurante)"</h2>

<div>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center">Restaurante</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.Restaurantes.NomeRestaurante)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Mesa</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.MesasRestaurante)
        </div>
        <div class="col-sm-4">
            <p class="text-center">Lugares</p>
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.LugaresRestaurante)
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.MesaId">Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
</div>