@model ListaMesas

@{
    ViewData["Title"] = "Index";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<p class="mt-4 text-center mb-4">
    <a asp-action="Create">Criar Nova Mesa</a>
</p>

<body>
    <form asp-action="Index" method="get" class="mb-4">
        <input name="name" type="search" class="searchbar form-control" value="@Model.SearchMesa" placeholder="Mesas do Restaurante" />
        <input name="page" type="hidden" value="1" />
    </form>
    <div class="card-deck">
        <div class="row justify-content-center">
            @foreach (var item in Model.Mesa)
            {
                <div class="col-sn-6">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Restaurantes.NomeRestaurante)</h5>
                            <p class="mt-2"><strong>Número da Mesa: </strong>@Html.DisplayFor(modelItem => item.MesasRestaurante)</p>
                            <p class="mt-2"><strong>Número de Lugares: </strong>@Html.DisplayFor(modelItem => item.LugaresRestaurante)</p>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.MesaId">Editar</a>
                            <a asp-action="Details" class="btn btn-success" asp-route-id="@item.MesaId">Detalhes</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.MesaId">Eliminar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <nav class="mt-4">
        <ul class="pagination  justify-content-center">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-name="@Model.SearchMesa">First</a></li>

            @{
                int initalPage = Model.Paginacao.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (initalPage < 1) initalPage = 1;

                int finalPage = Model.Paginacao.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                if (finalPage > Model.Paginacao.TotalPages) finalPage = Model.Paginacao.TotalPages;
            }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.Paginacao.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchMesa">@p</a></li>
                }
            }

            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Paginacao.TotalPages" asp-route-name="@Model.SearchMesa">Last</a></li>
        </ul>
    </nav>
</body>